p {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: justify;
}
h4 {
    color: black;
    font-weight: 700;
}
img {
    height: auto;
    max-width: 75%;
}